@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager

@inject UserManager<IdentityUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);

}

<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">NorthWeird</a>
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="@($"nav-item {(string.Equals(ViewContext.RouteData.Values["controller"], "Product") ? "active" : "")}")">
                    <a class="nav-link" asp-controller="Product" asp-action="Index">Products</a>
                </li>
                <li class="@($"nav-item {(string.Equals(ViewContext.RouteData.Values["controller"], "Category") ? "active" : "")}")">
                    <a class="nav-link" asp-controller="Category" asp-action="Index">Categories</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle"
                                    type="button" id="dropdownMenu1" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                Hello, @user.UserName
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <a class="dropdown-item" asp-controller="Auth" asp-action="Logout">Logout</a>
                                <a class="dropdown-item" asp-controller="Auth" asp-action="About">About</a>
                            </div>
                        </div>
                    </li>
                }
                else
                {
                    <li class="@($"nav-item {(string.Equals(ViewContext.RouteData.Values["controller"], "Auth") && string.Equals(ViewContext.RouteData.Values["action"], "Login") ? "active" : "")}")">
                        <a class="nav-link" asp-controller="Auth" asp-action="Login">Login</a>
                    </li>
                    <li class="@($"nav-item {(string.Equals(ViewContext.RouteData.Values["controller"], "Auth") && string.Equals(ViewContext.RouteData.Values["action"], "Register") ? "active" : "")}")">
                        <a class="nav-link" asp-controller="Auth" asp-action="Register">Sign Up</a>
                    </li>
                }

            </ul>
        </div>
    </nav>
</header>