<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/styles/styles.css" rel="stylesheet" />
</head>
    <body class="d-flex flex-column">
       @RenderSection("Header", false)

        @if (!IsSectionDefined("header"))
        {
            <partial name="_Header"/>
        }
        
    @await Component.InvokeAsync("Breadcrumb")

    <main role="main" class="container-fluid px-5">
            <h2 class="my-4">@ViewData["Title"]</h2>
            <div>
                @RenderBody()
            </div>
        </main>

        <footer class="footer">
            <div class="container text-muted">
                @RenderSection("footer", false)
                @if (!IsSectionDefined("footer"))
                {
                    <div>
                        This is the project for <a href="https://epam.sharepoint.com/sites/ASPNetCore">mentorin gprogram.</a>
                        Link on <a href="https://github.com/Citrinin/NorthWeird"> GitHub </a>
                    </div>
                }
            </div>
        </footer>
        <script src="~/node_modules/jquery/dist/jquery.js"></script>
        <script src="~/node_modules/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/node_modules/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    </body>
</html>
